.preview {
  grid-area: preview;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 10px 10px 10px;
}

h1 {
  font-size: 40px;
  color: white;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}
