* {
  list-style: none;
  margin: 0;
  padding: 0;
}

.app {
  display: grid;
  grid-template-columns: minmax(300px, 30vw) minmax(600px, 1fr);
  grid-template-rows: 70vh 30vh;
  grid-template-areas:
    "select preview"
    "select text";
  grid-gap: 20px;
  height: 100vh;
}

.user-texts {
  grid-area: text;
}

.image-selector {
  grid-area: select;
  overflow-y: scroll;
}

.image-selector img {
  width: 100%;
}
